<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jellyville</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.min.js"></script>
    <script src="{{ url_for('static', filename='tile.js') }}"></script>
    <script src="{{ url_for('static', filename='tilemap.js') }}"></script>
    <script src="{{ url_for('static', filename='player.js') }}"></script>
    <script src="{{ url_for('static', filename='sprite.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script><!--Must go last-->
</head>
<body>
</body>
</html>
